*::-webkit-scrollbar {
    display: none;
}

.categories {
    margin: 32px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 16px;
    justify-items: center;
}

.category {
    overflow-y: hidden;
    overflow-clip-margin: padding-box;
    width: 320px;
    height: 140px;
    padding: 8px;
    border: solid black 8px;
    border-radius: 24px;
}