.header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
}

.heading {
    color: var(--primary-text-color);
    padding: 10px;
}

.navigation-bar {
    width: 40%;
    color: var(--primary-text-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation-bar a{
    font-size: 20px;
    width: 20%;
    text-align: center;
}

.navigation-bar a:hover{
    color: var(--secondary-text-color);
}

@media (max-width: 800px)
{
    .navigation-bar a{
        font-size: 15px;
        width: 25%;
    }
}

@media (max-width: 450px)
{
    .navigation-bar {
        display: none;
    }
}