.header{
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
}

.heading {
    color: var(--primary-text-color);
    padding: 10px;
}

.heading h1 {
    font-size: 5vw;
    letter-spacing: -0.5vw;
    transition: 0.2s color;
}

.heading h1:hover {
    color: var(--primary-action-color);
}

.navigation-bar {
    width: 40%;
    color: var(--primary-text-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation-bar a{
    font-size: max(9px,2vw);
    letter-spacing: max(-100px,-0.2vw);
    width: 20%;
    text-align: center;
    transition: 0.2s color;
}

.navigation-bar a:hover{
    color: var(--primary-action-color);
}
