* {
    padding: 0px;
    margin: 0px;
}

body {
    min-width: 100vw;
    min-height: 100vh;
}

:root {
    --primary-color: #81C3D7;
    --primary-text-color: #26547C;
    --primary-action-color: #000000;
    --secondary-color: #EF476F9F;
    --secondary-text-color: #B3FFB3;
    --side-color: #FFD166;
    --text-shadow-color: #1111111F;
    --box-shadow-color: #1111111F;
}

a {
    text-decoration: none;
    color: inherit;
}
